/*Todo o corpo  do site*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
    background-size: cover;
}

body {
    max-width: 1200px;
    margin: 0 auto;
}

:root {
    background: linear-gradient(to left, #feda00, #dbd8cd)
}


/*Estilização da header*/

header {
    margin-bottom: 0%;
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all ease .45s;
    
}

header h1 {
    color: #5e042f;
    font-size: 60px;
    align-items: left;
    justify-content: left;
    padding-left: 0;
}

header span{
    color:#5e042f
}

header .navegacao-primaria{
    display: flex;
    gap: 10px;
    align-items: center;
}

header .navegacao-primaria li a{
    padding: 10px;
    font-size: 24px;
    color:#5e042f; 
    justify-content: space-around;
}

/*section currículo*/

.section-div {
    animation: inicializar .7s forwards;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    padding: 60px;
    
}

.section-div div {
    margin-top: 120px;
    align-self: start;
    display: grid;
    gap: 40px;
}

.section-div div h2 {
    font-size: 40px;
    font-weight: 600;
    color:#5e042f;
}
.section-div div h3 {
    font-size: 30px;
    font-weight: 400;
    color:#5e042f
}

.section-div div p {
    font-size: 20px;
    color: #5e042f;
}

.section-div div a {
    justify-self: start;
    color:#5e042f;
    padding: 15px 40px;
    border-radius: 5px;
    border: 1px solid #5e042f;
}

.section-div img {
    max-width: 100%;
}

.digitando::afte{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .5s infinite;
}

@keyframes pisca {
    from {
        opacity: 1;
        
    }
    to {
        opacity: 0;
    }
}

@keyframes inicializar {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

/*Seção sobre meu trabalho*/

main .sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-container {
    display: flex;
    justify-content: space-between; /* Distribui as imagens igualmente no espaço disponível */
    align-items: center; /* Centraliza verticalmente as imagens */
    width: 100%; /* Ocupa todo o espaço disponível */
}
      
.slide {
    flex: 0 0 23%; /* Ajusta a largura de cada imagem com uma pequena margem entre elas */
    margin-right: 2%; /* Define uma margem entre as imagens */
    display: inline-block; /* Remove qualquer espaço extra entre as imagens */
}
      
.slide img {
    width: 100%; /* Garante que as imagens preencham seus contêineres */
    height: auto; /* Mantém a proporção original da imagem */
}      
  
main .sobre_titulo {
    text-align: center;  
}

main .sobre_titulo h1 {
    font-size: 40px;
    font-weight: 600;
    color:#5e042f;
    margin: 1%;
}

main .sobre-conteudo{
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    text-align:justify;
    font-size: 20px;
    font-weight: 500;
    color: #5e042f;
}

main .sobre_texto p{
    font-size: 20px;
    color: #5e042f;
    padding: 60px;
    padding-top: 1%;
}
/*Estilização Conhecimento com icons font awesome*/

.conhecimentos{
    display: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    color: #5e042f;  
    margin-bottom: 10%;
}

.conhecimentos grid-layout h1 {
    color: #5e042f;
    font-size: 40px;
    padding: 60px;
    padding-top: 5%;
    gap: 60px;    
}

.conhecimentos h2 {
    padding-top: 1%;
    font-size: 24px;
    color: #5e042f;
}

.conhecimentos .fa-brands {
    color: #5e042f;
    font-size: 30px;
    border: 1px solid #5e042f;
    margin: 5px 15px;
    padding: 5px;
  }

   #tooltip {
    position: flex;
    top: 0;
    left: 0;
    color: #5e042f;
    padding: 5px;
    display: none;
    font-size: 24px;
  }
 
 /* estilização do footer*/

 footer {
    background-color: #5e042f;
    color: #dbd8cd;
    margin: 0% 0% #5e042f;
 }
  
  .contato {
    background-color: #5e042f;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    grid-template-columns: auto;
  }
  
  .contato h1 {
    margin-bottom: 10px;
    font-size: 30px;
  }
  
  .contato p {
    margin-bottom: 20px;
    font-size: 24px;
}
  
  .contato a {
    color: #dbd8cd;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 24px;
  }
  
  .contato i {
    margin-right: 5px;
  }
  
  .icones {
    display: flex; /* Display the icons in a row */
    flex-wrap: wrap;
  }

  .icones a{
    margin-right: 20px;
  }

  .contato h5 {
    display: flex; 
    padding: 10px;
  }

  @media screen and (max-width: 768px){
    *{
        width:100%;
        flex-direction: column;
    }
  }

  